{% extends 'base.html' %}
{% block body %}
<div class="container" >
  {% if states|length == 0 %}  
    <div class="alert alert-dark" role="alert">
      No record found
    </div>
  {% else %} 
    <div id="table-wrapper">
      <div id="table-scroll">
        <table class="table table_database table-striped table-bordered"  id="table_database">
          <thead>
            <tr>
              <th scope="col">Serial no</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody id="myTable">
          {% for item in states %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td id="state"><a href="{% url 'atg_app:category_data' item.State %}">{{item.State}}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</div>
{% endblock body %}